                                                                                                        /* Universal Styles */
                                                                                                        
                                                                                                        html {
                                                                                                            font-family: "Inter", sans-serif;
                                                                                                            height: 100%;
                                                                                                            color: seashell;
                                                                                                        }
                                                                                                        
                                                                                                        body {
                                                                                                            margin: 0 auto;
                                                                                                            height: 100%;
                                                                                                            background-color: black;
                                                                                                        }
                                                                                                        
                                                                                                        a {
                                                                                                            color: seashell;
                                                                                                        }
                                                                                                        
                                                                                                        footer {
                                                                                                            margin: 0 auto;
                                                                                                        }
                                                                                                        
                                                                                                        header {
                                                                                                            position: relative;
                                                                                                            background-color: black;
                                                                                                            display: flex;
                                                                                                            width: 100%;
                                                                                                            color: black;
                                                                                                            margin: 0;
                                                                                                            min-height: 69px;
                                                                                                            opacity: 1;
                                                                                                            justify-content: space-between;
                                                                                                            align-items: center;
                                                                                                        }
                                                                                                        
                                                                                                        header .topperoni {
                                                                                                            overflow: hidden;
                                                                                                            display: flex;
                                                                                                            align-items: center;
                                                                                                            box-sizing: border-box;
                                                                                                        }
                                                                                                        
                                                                                                        .topperoni img {
                                                                                                            height: 50px;
                                                                                                        }
                                                                                                        
                                                                                                        ul {
                                                                                                            display: flex;
                                                                                                            text-align: right;
                                                                                                        }
                                                                                                        
                                                                                                        .topperoni a {
                                                                                                            text-decoration: underline;
                                                                                                            border-bottom: 1px solid seashell;
                                                                                                            color: seashell;
                                                                                                        }
                                                                                                        
                                                                                                        li,
                                                                                                        ul {
                                                                                                            list-style-type: none;
                                                                                                            margin: 0;
                                                                                                            padding: 0;
                                                                                                        }
                                                                                                        
                                                                                                        nav {
                                                                                                            display: flex;
                                                                                                            margin: 0;
                                                                                                            text-align: right;
                                                                                                        }
                                                                                                        
                                                                                                        .desktop {
                                                                                                            float: right;
                                                                                                        }
                                                                                                        /* Address */
                                                                                                        
                                                                                                        #address {
                                                                                                            background-color: black;
                                                                                                            min-height: 200px;
                                                                                                        }
                                                                                                        
                                                                                                        #address .content-address {
                                                                                                            background-color: black;
                                                                                                            text-align: center;
                                                                                                            padding-top: 22px;
                                                                                                            padding-bottom: 0;
                                                                                                            margin-top: 0;
                                                                                                            height: 200px;
                                                                                                        }
                                                                                                        /* Location */
                                                                                                        
                                                                                                        #locations-main {
                                                                                                            display: flex;
                                                                                                            justify-content: flex-start;
                                                                                                            background-image: url("../images/img-locations-background.jpg");
                                                                                                            background-position: bottom;
                                                                                                            background-size: 100%;
                                                                                                            background-size: cover;
                                                                                                            background-repeat: no-repeat;
                                                                                                            height: 500px;
                                                                                                            flex-wrap: wrap;
                                                                                                        }
                                                                                                        
                                                                                                        .location {
                                                                                                            display: inline-block;
                                                                                                            text-align: center;
                                                                                                            justify-content: center;
                                                                                                            max-height: 15px;
                                                                                                            width: max-content;
                                                                                                        }
                                                                                                        
                                                                                                        .left {
                                                                                                            flex-wrap: wrap;
                                                                                                        }
                                                                                                        
                                                                                                        .middle {
                                                                                                            flex-wrap: wrap;
                                                                                                        }
                                                                                                        
                                                                                                        .right {
                                                                                                            flex-wrap: wrap;
                                                                                                        }
                                                                                                        /* Footer */
                                                                                                        
                                                                                                        footer {
                                                                                                            background-color: black;
                                                                                                            text-align: left;
                                                                                                            font-size: 22px;
                                                                                                            color: seashell;
                                                                                                        }
                                                                                                        
                                                                                                        footer .copyright {
                                                                                                            display: flex;
                                                                                                            font-size: 22px;
                                                                                                            padding-left: 20px;
                                                                                                        }
                                                                                                        
                                                                                                        #container1 {
                                                                                                            background-image: url("../images/img-locations-background.jpg");
                                                                                                            background-repeat: no-repeat;
                                                                                                            background-size: 100%;
                                                                                                            display: grid;
                                                                                                            text-align: center;
                                                                                                        }
                                                                                                        
                                                                                                        .box1 {}
                                                                                                        
                                                                                                        .box2 {
                                                                                                            grid-column: 1 /1;
                                                                                                            grid-row: 2/2;
                                                                                                        }