    /* Universal Styles */
    
    html {
        font-family: "Inter", sans-serif;
    }
    
    body {
        margin: 0 auto;
    }
    
    header {
        position: relative;
        background-color: black;
        display: flex;
        width: 100%;
        color: black;
        margin: 0;
        min-height: 69px;
        opacity: 1;
        justify-content: space-between;
        align-items: center;
    }
    
    header .topperoni {
        overflow: hidden;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }
    
    .topperoni img {
        height: 50px;
    }
    
    ul {
        display: flex;
        text-align: right;
    }
    
    .topperoni a {
        text-decoration: underline;
        border-bottom: 1px solid seashell;
        color: seashell;
    }
    
    li,
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav {
        display: flex;
        margin: 0;
        text-align: right;
    }
    
    .desktop {
        float: right;
    }